
body {
  padding: 40px;
}
.data-fields {
  display: grid;
  grid-template-columns: 125px 150px;
  grid-template-rows: 10px;
  grid-row-gap: 0px;
  align-items: center;
}

.data-container {
  text-align: center;
}

button {
  display: block;
  height: 20px;
  width: 150px;
  font-size: 12px;
  background-color: #0080ff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

